//import

/* Put main CSS here */
body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    padding: 10px;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 900px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #F79608;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.trade-button {
    width: 24px;
}

/* HTML5 logo */
a.navbar-brand {
    line-height: 14px;
    font-size: 13px;
    padding-bottom: 0;
    padding-top: 11px;
}

a.navbar-brand img {
    width: 28px;
    margin-top: -16px;
    margin-left: 10px;
}

/* To fit navbar on one line for small screens */
.nav li a {
    padding-left: 10px;
    padding-right: 10px;
}

/* Slide effect */
.myslide.ng-enter,
.myslide.ng-leave {
    position: absolute;
    transition: .3s linear all;
}

.myslide.ng-enter {
    left: 100%;
}

.myslide.ng-enter-active {
    transform: translateX(-100%);
}

.myslide.ng-leave-active {
    transform: translateX(-100%);
}

//form
.standardControl {
    width: 300px;
}

.ng-invalid.ng-dirty{
  border-color: #FA787E;
}

.ng-valid.ng-dirty{
  border-color: #78FA89;
}

.toggle{
  -webkit-transition: linear 1s;
  -moz-transition: linear 1s;
  -ms-transition: linear 1s;
  -o-transition: linear 1s;
  transition: linear 1s;
}

.toggle.ng-enter{
  opacity: 0;
}

.toggle.ng-enter-active{
  opacity: 1;
}

.toggle.ng-leave{
  opacity: 1;
}

.toggle.ng-leave-active{
  opacity: 0;
}

