<div class="container">
    <p class="lead" ng-show="menuItem">{{menuItem}}</p>
    <p class="lead" ng-show="!menuItem">Perform Manual Entry</p>


    <div ng-controller="PerformManualEntryCtrl">
        <div ng-if="resolved">
            <form name="PerformManualEntryForm" ng-submit="PerformManualEntryForm.$valid">
                <div class="row">
                    <div class="col-xs-5">
                        <div class="form-group">

                            <label class="control-label" for="debitLedgerType">Debit Account:</label>
                            <select class="standardControl form-control"
                                    name="debitLedgerType"
                                    ng-change='changeDebitAgentStatus()'
                                    ng-model="so1Object.debitLedgerType"
                                    ng-model-options="{ debounce: 250 }"
                                    ng-options="debitLedgerType.id as debitLedgerType.name for debitLedgerType in debitLedgerTypes"
                                    required
                                    >
                                <option value="">Choose a ledger type ...</option>
                            </select>

                            <label>Debit Agent:</label>
                            <select class="standardControl form-control"
                                    name="debitAgent"
                                    ng-disabled="debitAgentStatus"
                                    ng-model="so1Object.debitAgent"
                                    ng-model-options="{ debounce: 50 }"
                                    ng-options="debitAgent.id as debitAgent.name for debitAgent in debitAgents"
                                    required
                                    >
                                <option value="">Choose an agent ...</option>
                            </select>

                        </div>             
                    </div>

                    <div class="col-xs-5">
                        <div class="form-group">
                            <label>Credit Account:</label>
                            <select class="standardControl form-control"
                                    name="creditLedgerType"
                                    ng-disabled="debitAgentStatus"
                                    ng-model="so1Object.creditLedgerType"
                                    ng-model-options="{ debounce: 50 }"
                                    ng-options="creditLedgerType.id as creditLedgerType.name for creditLedgerType in creditLedgerTypes"
                                    required
                                    >
                                <option value="">Choose a ledger type ...</option>
                            </select>

                            <label>Credit Agent:</label>
                            <select class="standardControl form-control"
                                    name="creditAgent"
                                    ng-disabled="debitAgentStatus"
                                    ng-model="so1Object.creditAgent"
                                    ng-model-options="{ debounce: 50 }"
                                    ng-options="creditAgent.id as creditAgent.name for creditAgent in creditAgents"
                                    required
                                    >
                                <option value="">Choose an agent ...</option>
                            </select>

                        </div>             
                    </div>

                    <div class="col-xs-5">
                        <div class="form-group">
                            <label>Trans type:</label>
                            <select class="standardControl form-control"
                                    name="txType"
                                    ng-model="so1Object.txType"
                                    ng-options="txType.id as txType.name for txType in txTypes"
                                    required
                                    >
                                <option value="">Choose a transaction type ...</option>
                            </select>

                            <label>Amount:</label>
                            <input 
                                type="text" 
                                id="amount"
                                name="amount" 
                                class="standardControl form-control"
                                ng-model="so1Object.amount" 
                                required
                                placeholder="Amount.."
                                valid-float-number = "valid-float-number"
                                >
                        </div>             
                    </div>

                    <div class="col-xs-5">
                        <div class="form-group">
                            <label>Comment:</label>
                            <input
                                type="text"
                                name="comment"
                                class="standardControl form-control"
                                ng-model="so1Object.comment"
                                ng-maxlength=20
                                placeholder="Comment.."
                                required
                                >
                        </div>             
                    </div>

                    <div class="col-xs-5">
                        <div class="form-group">
                            <label>Related MTCN:</label>
                            <input
                                type="text"
                                name="relatedMTCN"
                                class="standardControl form-control"
                                ng-model="so1Object.relatedMTCN"
                                placeholder="Related MTCN.."
                                required
                                >
                        </div>             
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <div class="form-group" ng-controller="MTCNDateCtrl">
                            <label>MTCN Date:</label>
                                    <input type="text" 
                                    id="MTCNDate"
                                    name="MTCNDate"
                                    class="standardControl form-control" 
                                    datepicker-popup="{{format}}" 
                                    placeholder="MTCN Date.."
                                    ng-model="so1Object.MTCNDate"
                                    is-open="opened" 
                                    min-date="minDate" 
                                    max-date="'2017-01-01'" 
                                    datepicker-options="dateOptions" 
                                    date-disabled="disabled(date, mode)" 
                                    ng-required="true" 
                                    close-text="Close" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open($event)">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
<span class="errorMTCNDateRequired" id="MTCNDateRequiredMsg" ng-show="PerformManualEntryForm.MTCNDate.$error.required"> Required</span>
<span class="validMTCNDate" id="MTCNDateValidMsg" ng-show="PerformManualEntryForm.MTCNDate.$valid">Valid</span>
<span class="errorMTCNDateInvalid" id="MTCNDateNotValidMsg" ng-hide="PerformManualEntryForm.MTCNDate.$valid">Invalid</span>

                        </div>
                        <div class="form-group" ng-controller="EntryDateCtrl">
                            <label>Date of Entry:</label>
                            <input type="text" 
                                    id="entryDate"
                                    name="entryDate"
                                    class="standardControl form-control" 
                                    datepicker-popup="{{format}}" 
                                    placeholder="Entry Date.."
                                    ng-model="so1Object.EntryDate"
                                    is-open="opened" 
                                    min-date="minDate" 
                                    max-date="'2017-01-01'" 
                                    datepicker-options="dateOptions" 
                                    date-disabled="disabled(date, mode)" 
                                    ng-required="true" 
                                    close-text="Close" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open($event)">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
<span class="errorEntryDateRequired" id="EntryDateRequiredMsg" ng-show="PerformManualEntryForm.entryDate.$error.required">Required</span>
<span class="validEntryDate" id="EntryDateValidMsg" ng-show="PerformManualEntryForm.entryDate.$valid">Valid</span>
<span class="errorEntryDateInvalid" id="EntryDateNotValidMsg" ng-hide="PerformManualEntryForm.entryDate.$valid">Invalid</span>
                        </div>             
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <input class="btn btn-link" 
                               type="button" 
                               ng-click="resetForm(PerformManualEntryForm)" 
                               value="Reset" />
                        <input class="btn btn-primary"
                               type="submit"
                               ng-click="sendForm(so1Object)"

                               value="Save"
                               />
                    </div> 
                </div>
            </form>
        </div>
    </div>
    <div ng-if="loading">
        <img ng-src="images/loading.gif" width="150"/>
    </div>
</div>

